<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>

const socket = io('http://localhost:8000');

console.log(socket);

socket.on('connect', (data)=>{
    socket.on('welcome', (message) =>{
        console.log(message);
    });
    socket.emit('message', {data: 'I am so excited i am connected'})
})

</script>