<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id=message-form>
                <div class ="col-sm-10">
                    <input id="user-message" type="text" placeholder="Enter your message"/>
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="Send"/>
                </div>
            </form>
            <ul id="messages">
        
            </ul>
        </div>
    </div>
</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./script.js"></script>
